@page "/Account/LoginPasswordless"

@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Json
@using BlazorAppTest2.Components.Account.Shared
@using Fido2NetLib
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authentication
@using static BlazorAppTest2.Models.PasskeyModels

@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<h1>Login With Passkey</h1>

<div class="row">
    <h2>(Only for users registered with passwordless, MFA not enabled for this login category!)</h2>
    <hr />
    <div class="col-lg-6" style="margin:0 auto;text-align:center;">
        <StatusMessage Message="@errorMessage" />
        <EditForm EditContext="editContext" method="post" OnSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username webauthn" aria-required="true" placeholder="name@example.com" />
                <label for="Input.Email" class="form-label">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </EditForm>
    </div>
</div>

@code {
    private string? errorMessage;
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();
        editContext = new EditContext(Input);
    }

    private async Task LoginUser()
    {
        if (!editContext.Validate())
            return;

        // STEP 1: Get assertion options
        var optionsResponse = await Http.PostAsJsonAsync("/webauthn/login/options", new { Email = Input.Email });
        if (!optionsResponse.IsSuccessStatusCode)
        {
            errorMessage = "Could not start login.";
            return;
        }

        var options = await optionsResponse.Content.ReadFromJsonAsync<AssertionOptions>();
        if (options is null)
        {
            errorMessage = "Invalid assertion options.";
            return;
        }

        // STEP 2: Call WebAuthn API
        var assertion = await JS.InvokeAsync<AuthenticatorAssertionRawResponse>("webauthnLogin", options);
        if (assertion is null)
        {
            errorMessage = "Passkey authentication failed.";
            return;
        }

        // STEP 3: Send to server (parsing the LoginResult DTO to the javascript for result status and error messages if any)
        var result = await JS.InvokeAsync<System.Text.Json.JsonElement>("finishPasskeyLogin", new AssertionRequest
        {
            Email = Input.Email,
            AssertionResponse = assertion,
            OriginalOptions = options
        });

        bool ok = result.GetProperty("ok").GetBoolean();
        string? text = result.GetProperty("text").GetString();
        if (ok) { NavigationManager.NavigateTo("Account/AddCprNumber", forceLoad: true); }
        else { errorMessage = text; }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
}
