@page "/Account/RegisterPasswordless"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Identity
@using BlazorAppTest2.Data

@inject UserManager<ApplicationUser> UserManager
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<h1>Register (Passkey)</h1>

<div class="row">
    <div class="col-lg-6" style="margin:0 auto;text-align:center;">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="Input.Email">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </EditForm>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    protected override void OnInitialized()
    {
        Input ??= new();
    }

    private async Task RegisterUser()
    {
        var user = new ApplicationUser
        {
            UserName = Input.Email,
            Email = Input.Email,
            EmailConfirmed = true
        };

        var result = await UserManager.CreateAsync(user);
        if (result.Succeeded)
        {
            await JS.InvokeVoidAsync("startPasskeyRegistration", Input.Email);
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";
    }
}


